{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column align-items-center card bg-light m-3">
    <div class="card-header w-100 row text-center">
        <div class="col"></div>
        <h1 class="col-9">Add a New Show</h1>
        <div class="col mt-3 mb-4 float-right">
            <a class="text-info " style="text-decoration: underline;" href="/shows">Go
                back ></a>
        </div>
    </div>
    {% if messages %}
    <ul class="messages mt-3 w-75 mr-5">
        {% for message in messages %}
        <div class="alert {{ message.tags }} p-1 pl-4 ">
            {% if message.tags %}
            <li class="">{{ message }}</li>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="card-body w-75">
        <form class="container myform1 mr-3" action="{% url 'create_show' %}" method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label class="col-form-label" for="">Title:</label>
                <div class="">
                    <input type="text" class="form-control" name="title">
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <label class="col-form-label" for="">Network:</label>
                    <div class="">
                        <input type="text" class="form-control" name="nw">
                    </div>
                </div>
                <div class="col mb-2">
                    <label class="col-form-label" for="">Release Date:</label>
                    <div class="">
                        <input type="date" class="form-control" name="date">
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <label class="col-form-label" for="">Description:</label>
                <div class="">
                    <textarea type="text" class="form-control" name="desc"></textarea>
                </div>
            </div>
            <div class="form-row mt-4 d-flex flex-column align-items-center">
                <input class="btn btn-info w-50" type="submit" name="btn" id="" value="Create">
            </div>

        </form>
    </div>
    
</div>
{% endblock %}